<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!-- <add key="teamcity" value="http://powerspec.local.sleepingbearsystems.net:8111/httpAuth/app/nuget/feed/SleepingBearSystems/SleepingBearSystems/v2" /> -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <SleepingBearSystems>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="%TEAMCITY_PASSWORD%" />
    </SleepingBearSystems>
  </packageSourceCredentials>
</configuration>
